.footer {
  background-color: #1e3c72;
  padding: 10px 0;
  color: #fff;
  width: 100%;
  height: 100px;
  padding-bottom: env(safe-area-inset-bottom);
  box-shadow: 0 -2px 10px rgba(0,0,0,0.05);
  z-index: 100;
  display: flex;
  justify-content: space-around;
  .p-button {
  background-color: #42aaff;
  border-color: transparent;
  padding-left: 5px;
  padding-right: 5px;  
  height: 80px;
  width: 80px;        
  border-radius: 50%;  
  display: flex;       
  justify-content: center; 
  align-items: center;    
  gap: 10px;   
  flex-direction: column;            
}

  .p-button:hover {
    background-color: #2a5b8e;
  }

  .p-button .pi {
    font-size: 1.5em;
  }

  .p-d-flex {
    display: flex;
    justify-content: start;
    align-items: start;
  }

}