// html, body {
//   height: 100%;
//   margin: 0;
// }

// body {
//   display: flex;
//   flex-direction: column;
//   min-height: 100%;
// }

// .main-content {
//   flex: 1; 
// }

// footer {
//   background-color: #333;
//   color: white;
//   padding: 10px 0;
//   text-align: center;
// }